* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.contact {
  margin: auto;
  background-color: #FC5831;
}
.contact ul {
  margin-left: 10%;
}
.ct li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding: 10px;
}
nav{
  background-color: #FC5831;
}
.menu {
  text-align: left;
}
.menu li:nth-child(1) > a > img{
  width: 60px;
  height: 30px;
}
.menu li a{
  display: block;
  list-style: none;
  color: #FFF;
  font-weight: bold;
  font-size: large;
}
.menu li {
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
  margin-top: 5px;
  transition: 0.5s;
}
.menu li::after {
  content: '';
  width: 0;
  margin: auto;
  height: 2px;
  background-color: #FFF;
  display: block;
  transition: 0.5s;
}
.menu li:hover::after {
  width: 100%;
}

.small-container {
  width: 80%;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}

.col-2 {
  flex-basis: 45%;   
}
.col-2 p {
  line-height: 24px;
}

.btn-cart {
  background: #FC5831;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  height: 30px;
}

.btn-cart:hover {
  background: #c7b200;
}
.btn {
  cursor: pointer;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}

/* ----------------- cart items details ----------------- */
.single-product {
  margin-top: 20px;   
}

.single-product .col-2 img {
  width: 100%;
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product .col-2 h1 {
  font-size: 30px;
  color: #333;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  color: #f80808;
  font-weight: bold;
}
.single-product h3 {
  margin: 10px 0;
  color: #333;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #FC5831;
  margin-bottom: 10px;
}

.product-options {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.product-options select {
  padding: 5px;
  border: 1px solid #FC5831;
}
.product-options .btn-cart {
  padding: 5px 10px;
}

input:focus {
  outline: none;
}

.small-img-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.small-img-col {
  width: 24%;
  cursor: pointer;
}

.small-img-col img {
  width: 100%;
}

/* ---------------guarantee -------------------- */
.detail {
  width: 27%;
  padding: 0 20px;
  /* height: 530px; */
  background-color: #F7F7F7;
  padding-bottom: 10px;
}
.guarantee {
  display: flex;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}
.guarantee i {
  font-size: 25px;
  transition: 0.5s;
  color: #CC4C4C;
}
.text-G {
  margin-left: 20px;
}
.text-G h4 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
}
.text-G p {
  color: #222;
}
.guarantee:hover h4 {
  color: #FC5831;
}
.guarantee:hover i {
  transform: rotate(360deg);
}



/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}
  
.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer>:not(:first-child) {
  margin-left: .25rem;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
  
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
h5.modal-title {
    font-size: 1.5rem;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
  
.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
  
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}







/* -------------- footer ----------------- */
.footer {
  background-color: #FC5831;
  margin-bottom: 0;
  padding-bottom: 0;
}
.rowf {
  width: 80%;
  display: flex;
  margin: 0 auto 0 auto;
}
.footer .col-4f {
  width: 100%;
}
.col-4f {
  margin-right: 30px;
  padding: 10px 0 30px 0;
  color: #fff;
}
.col-4f h4 {
  padding: 10px 0;
  font-size: 18px;
}
.col-4f h4::after {
  content: '';
  width: 10%;
  height: 3px;
  background-color: #fff;
  display: block;
}