* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.contact {
    margin: auto;
    background-color: #FC5831;
}
.contact ul {
    margin-left: 10%;
}
.ct li {
    list-style: none;
    display: inline-block;
    color: #fff;
    padding: 10px;
}
nav{
    background-color: #FC5831;
}
.menu {
    text-align: left;
}
.menu li:nth-child(1) > a > img{
    width: 60px;
    height:100%;

}
.menu li a{
    display: block;    list-style: none;
    color: #FFF;
    font-weight: bold;
    font-size: large;
}
.menu li {
    display: inline-block;
    padding: 10px;
    margin-right: 30px;
    margin-top: 5px;
    transition: 0.5s;
}
.menu li::after {
    content: '';
    width: 0;
    margin: auto;
    height: 2px;
    background-color: #FFF;
    display: block;
    transition: 0.5s;
}
.menu li:hover::after {
    width: 100%;
}

/* ----------------- Map ------------------ */
.map-container {
    position: relative;
    width: 100%;
    height: 500px;
}

.map-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/* ----------------------Icon---------------------- */
.icon {
    display: flex;
    width: 80%;
    margin: 30px auto;
    justify-content: space-between;
}
.col-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px; 
    height: 200px; 
    margin: 0 auto; 
    text-align: center;
}
.col-icon h3 {
    margin-bottom: 10px;
}
.col-icon h3 a{
    color: #333;
    font-size: 20px;
}
.col-icon i {
    font-size: 60px;
}

.i-warp {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #FC5831;
    box-shadow: 0px 0px 5px 1px #e7bcb1;;
    cursor: pointer;
    transition: 0.5s;
}
.col-icon:hover .i-warp {
    background-color: #FC5831;
    color: #fff;
}



/* -------------------------- Form ------------------------ */
.form {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.CONTACT {
    display: flex;
}
.text {
    text-align: center;
    margin-right: 90px;
}
.text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.text h3 {
    margin-bottom: 20px;
}
.text p {
    margin-bottom: 20px;
}
@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.img img {
    margin-top: 30px;
    animation: upDown 2s ease-in-out infinite;
}
.contactForm {
    width: 50%;
}
.contactForm input, textarea {
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
    border: 1px solid #d6d6d6;
}
input {
    padding-left: 10px;
}
textarea::placeholder {
    padding-left: 10px;
    padding-top: 10px;
}
button {
    width: 80px;
    height: 40px;
    background-color: #FC5831;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

/* --------------------------footer---------------------- */
.footer {
    background-color: #FC5831;
    margin-top: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.rowf {
    width: 80%;
    display: flex;
    margin: 0 auto 0 auto;
}
.footer .col-4f {
    width: 100%;
}
.col-4f {
    margin-right: 30px;
    padding: 10px 0 30px 0;
    color: #fff;
}
.col-4f h4 {
    padding: 10px 0;
    font-size: 18px;
}
.col-4f h4::after {
    content: '';
    width: 10%;
    height: 3px;
    background-color: #fff;
    display: block;
}


