* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* ---------------- header ----------------- */
.contact {
  margin: auto;
  background-color: #fc5831;
}
.contact ul {
  margin-left: 10%;
}
.ct li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding: 10px;
}
nav {
  background-color: #fc5831;
}
.header {
  position: relative;
  width: 100%;
  min-height: 611px;
  background-position: center;
  background-size: cover;
  background-image: url(/Image/HomeImages/banner.jpg);
  /* Dùng hiệu ứng khi background thay đổi  */
  transition: background-image 1s ease-in-out;
}
.menu {
  text-align: left;
}
.menu li:nth-child(1) > a > img {
  width: 60px;
  height: 100%;
}

.menu li a {
  list-style: none;
  color: #fff;
  font-weight: bold;
  font-size: large;
}
.menu li::after {
  content: "";
  width: 0;
  height: 2px;
  margin: auto;
  display: block;
  background-color: #fff;
  transition: 0.5s;
}

.menu li {
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
  margin-top: 5px;
  transition: 0.5s;
}
.menu li:hover::after {
  width: 100%;
}

.menu li:first-child:hover::after {
    width: 0;
  }
.text-box {
  width: 90%;
  color: #fc5831;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px #505050;
}
.text-box a {
  color: #fff;
  font-weight: bold;
}

.banner2 {
  width: 80%;
  margin: 30px auto;
  cursor: pointer;
}
.banner2 img {
  width: 100%;
}

/* ---------------- products ----------------- */
.products h1 {
  padding: 5px;
  background-color: #38bde2;
  color: #fff;
  display: block;
  margin: 30px auto;
  width: 80%;
}
.highlight {
  background-color: #fc5831;
  font-size: 22px;
  padding: 6px;
  margin: 0;
  position: relative;
  top: -5px;
  box-shadow: 0px 0px 2px 2px #888888;
}
.row {
  width: 1126px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.col-4 {
  flex-basis: 25%;
  margin: 10px;
  background-color: #fc5831;
  transition: 0.5s;
}
.col-4 img {
  width: 100%;
  height: 300px;
}
.col-4 h4 {
  width: 93%;
  padding: 10px;
  text-align: center;
  color: #fff;
}
.col-4:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px 5px #e7bcb1;
}
.btn {
  width: 100px;
  background-color: #fc5831;
  padding: 8px 30px;
  margin: auto;
  border-radius: 30px;
  text-align: center;
}
.btn:hover {
  box-shadow: 0 0 1px 2px #fc5831;
}
.btn a {
  color: #fff;
  font-size: large;
  font-weight: bold;
}
/* ---------------- info ----------------- */
.info {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #fc5831;
  border-bottom: 1px solid #fc5831;
}
.row-info {
  display: flex;
  width: 1126px;
  margin: auto;
  justify-content: space-around;
}
.col-3 {
  flex-basis: 32%;
  margin: 10px;
  align-items: start;
  justify-content: space-between;
  cursor: pointer;
}
.col-3 img {
  width: 100%;
}
.img-a {
  flex-basis: 20%;
}
.tcol {
  display: flex;
}
.col-2 {
  display: inline-block;
  flex-basis: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.col-2 img {
  width: 100%;
}
.col-3 h2 {
  padding-bottom: 7px;
  margin-bottom: 5px;
  width: 105px;
}
.col-3 h3 {
  padding: 10px;
  color: #fc5831;
  font-weight: bold;
}
.col-3 a {
  display: block;
  margin-top: 10px;
  color: #e7bcb1;
}
.col-3 h2::after {
  content: "";
  background-color: #fc5831;
  width: 0%;
  height: 2px;
  display: block;
  transition: 0.5s;
}
.col-3 h2:hover::after {
  width: 100%;
}
/* -- ----------------footer--------------- -- */
.footer {
  background-color: #fc5831;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
.rowf {
  width: 80%;
  display: flex;
  margin: 0 auto 0 auto;
}
.footer .col-4f {
  width: 100%;
}
.col-4f {
  margin-right: 30px;
  padding: 10px 0 30px 0;
  color: #fff;
}
.col-4f h4 {
  padding: 10px 0;
  font-size: 18px;
}
.col-4f h4::after {
  content: "";
  width: 10%;
  height: 3px;
  background-color: #fff;
  display: block;
}
/* -- ----------------quality--------------- -- */
.quality {
  border-bottom: 1px solid #fc5831;
  font-size: 20px;
  background-position: center;
  background-size: cover;
}
.quality h3 {
  text-align: center;
}
.color {
  color: #fc5831;
}
/* -- ----------------quality2--------------- -- */
.quality2 {
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
}

.quality2 img {
  box-sizing: border-box;
}
.quality2 img:hover {
  border-bottom: 2px solid #fc5831;
}

/* ------------ Back to top -------------- */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Hide by default */
  background-color: #c49292;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

#back-to-top:hover {
  background-color: #c37c7c;
}

#back-to-top.show {
  display: block;
}
