* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    /* font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
  }

a {
  text-decoration: none;
  color: #333;
}
  
.contact {
  margin: auto;
  background-color: #FC5831;
}
.contact ul {
  margin-left: 10%;
}
.ct li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding: 10px;
}


/* --------------- Menu ------------------ */
.menu {
  text-align: left;
  background-color: #FC5831;
}
.menu li:nth-child(1) > a > img{
  width: 60px;
  height: 100%;
}
.menu li a{
  display: block;
  text-decoration: none;
  list-style: none;
  color: #Fff;
  font-weight: bold;
  font-size: large;
}
.menu li {
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
  margin-top: 5px;
  transition: 0.5s;
}
.menu li::after {
  content: '';
  width: 0;
  margin: auto;
  height: 2px;
  background-color: #Fff;
  display: block;
  transition: 0.5s;
}
.menu li:hover::after {
  width: 100%;
}

  li {
    list-style: none;
  }
  
  /* header */
  nav {
    width: 100%;
    display: flex;
  }
  
  nav .content-nav {
    display: flex;
    margin: auto;
    width: 80%;
  }

  .content-nav form {
    position: relative;
  }
  
  .content-nav form input {
    border: 1px solid #ccc;
    background: #fff;
    padding: 7px;
    width: 500px;
    margin-top: 10px;
  }
  
  .content-nav form button {
    width: 100px;
    padding: 7px;
    margin-left: 0;
    margin-top: 10px;
    position: absolute;
    border: 1px solid #FC5831;
    outline: none; 
    background: #FC5831;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }

  .content-nav form button i {
    font-size: 15px;
  }
  
  /* modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
  }
  
  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

#cart {
  position: fixed;
  height: 40px;
  top: 16%;
  right: 0;
  transform: translateY(-50%);
  background-color: #FC5831;
  color: #FFF;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#cart:hover {
  background-color: #c7b200;
}


  .wrapper {
    width: 80%;
    margin: auto;
    padding: 2rem;
  }
  
  .products ul {
    display: inline-block;
  }
  
  .products ul .main-product {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: block;
    float: left;
    width: 24%;
  }
  
  .products ul .no-margin {
    margin-right: 0;
  }
  
  .main-product .img-product img {
    width: 100%;
    height: 300px;
  }
  
  .content-product .content-product-h3 {
    padding: .5rem 0;
    overflow: hidden;
    color: #222;
    font-weight: bold;
    font-size: 16px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 5px;
    /* cursor: pointer; */
  }
  
  .content-product .content-product-deltals {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .main-product .content-product .content-product-deltals .price {
    color: #FC5831;
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 20px;
  }
  
  .content-product .content-product-deltals .price .money {
    vertical-align: middle;
  }
  
  .content-product .content-product-deltals .btn-cart {
    background: #FC5831;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }

  .content-product .content-product-deltals .btn-cart:hover {
    background: #c7b200;
  }
  
  /* footer */
.footer {
    background-color: #FC5831;
    margin-top: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.rowf {
    width: 80%;
    display: flex;
    margin: 0 auto 0 auto;
}
.footer .col-4f {
    width: 100%;
}
.col-4f {
    margin-right: 30px;
    padding: 10px 0 30px 0;
    color: #fff;
}
.col-4f h4 {
    padding: 10px 0;
    font-size: 18px;
}
.col-4f h4::after {
    content: '';
    width: 10%;
    height: 3px;
    background-color: #fff;
    display: block;
}





  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
body > footer > div > div.social-footer > li:nth-child(1) > a > i:hover{
    color: blue;
  }

/* ------------------ Page button ---------------- */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.page-btn {
  background-color: #FC5831;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-btn:hover {
  background-color: #EB5757;
}

.page-btn.active {
  background-color: white;
  border: 1px solid #FC5831;
  color: #FC5831; 
}

/* ------------ Back to top -------------- */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Hide by default */
  background-color: #c49292;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

#back-to-top:hover {
  background-color: #c37c7c;
}

#back-to-top.show {
  display: block;
}
